BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false